.service-options{
    .accordion-container{
        .card-option{
            margin-bottom:0;
            .card-header{
                padding: 4px;
                border: 1px solid var(--bs-gray-400);
                border-radius: 10px;
                cursor: pointer;
                &:hover{
                    background-color: var(--bs-gray-100);
                }
            }
        }
    }
}